<script src="/js/evento.js"></script>
<link rel="stylesheet" href="/css/evento.css">
{{>navigation}}
{{>sidebar}}
<div class="contenedor">
<div class="col-md-6 mx-auto tarjetaContainer">
    <div class="containerComentarios invisible">
       
                <div class="tituloComents">
                    <h3>Comentarios</h3>
                    <form action="/comentar" method="POST" name="formComentario">
                     
                    <div class="cabeceraComents flex-center">
                        
                    <textarea name="comentario" id="" cols="80" rows="5" class="comentarioEscrito"></textarea>
                    {{#each links}}
                        <input value={{id}} class="none idEvento xe" name="idEvento">
                        
                        {{/each}} 
                        <input class="none coment" name="coment">
                    <div class="right btn btn-success hazComentario">
                        <p>Haz un comentario</p>
                    </div>
                    </div>

                    <div class="listaComents mt-5">
                        <p class="userComment">{{userDatos.username}}:</p>
                     <div class="comentario">
                         {{#each coments}}
                        <p>{{comentario}}</p>
                        {{/each}} 
                     </div>
                    </div>

                    <div class="listaComents mt-5 uno none">
                        <p class="userComment">rodriguezjorge:</p>
                     <div class="comentario">
                        <p>Allí estaré</p>
                     </div>
                    </div>
                    <hr>
                    <div class="listaComents mt-5 uno none">
                        <p class="userComment">rodriguezjorge:</p>
                     <div class="comentario">
                        <p>Hola</p>
                     </div>
                    </div>
                    <hr>

                    <div class="listaComents mt-5 uno none">
                        
                        <p class="userComment">pepegarcia123:</p>
                     <div class="comentario">
                        <p>Probando comentario</p>
                     </div>
                    </div>
                    <hr>

                    <div class="listaComents mt-5 uno none">
                        <p class="userComment">jotarodri07:</p>
                     <div class="comentario">
                        <p>ghsadgdhsahas</p>
                     </div>
                    </div>
                    <hr>

                     <div class="listaComents mt-5 uno none">
                        <p class="userComment">pepegarcia123:</p>
                     <div class="comentario">
                        <p>Probando comentarios</p>
                     </div>
                    </div>
                    <hr>

<div class="flex-center mb-4">
                    <button class="flex-center btn btn-danger botonComentarios"> Cerrar</button>
                </div>

                    </form>
                </div>
                  
                <hr>
                
                <!--<div class="flex-center mb-4">
                    <button class="flex-center btn btn-danger cerrarComents"> Cerrar</button>
                </div>-->
            </div>
            
            <div class="divUsers invisible">
             
              <div class=" mt-3">
                <p class="flex-center">Usuarios unidos</p>
                <ul class="listaMunicipioSeleccionado listaUsuariosUnidos">
                  
                  <div class="none uno dos tres cuatro">
                  <li class="usuarioUnido">rodriguezjorge
                      <a href="/user/4">
                       <div class="verUsuario btn btn-light">
                      Ver
                  </div>
                  </a>
                  </li>
                </div>

<div class="cuatro">
                    {{#each newUser}}
                        <p>{{username}}</p>
                       
                  <li class="usuarioUnido">rodriguezjorge
                      <a href="/user/4">
                       <div class="verUsuario btn btn-light">
                      Ver
                  </div>
                  </a>
                  </li>
                   {{/each}} 
                </div>

      <div class="none dos">
                  <li class="usuarioUnido">jorge123
                      <a href="/user/">
                       <div class="verUsuario btn btn-light">
                      Ver
                  </div>
                  </a>
                  </li>
</div>

<div class="none uno tres">
                  <li class="usuarioUnido">jotarodri07
                      <a href="/user/9"> <div class="verUsuario btn btn-light">
                      Ver
                  </div></a>
                  </li>
                  </div>

                  
<div class="none uno dos">
                  <li class="usuarioUnido uno dos cuatro">pepegarcia123
                      <a href="/user/8">
                       <div class="verUsuario btn btn-light">
                      Ver
                  </div>
                  </a>
                  </li>
                  </div>
<div class="none uno">
                 <li class="usuarioUnido uno">juanperez12
                       <div class="verUsuario btn btn-light">
                      Ver
                  </div>
                  </li>
                  </div>
    <div class="none uno">
                  <li class="usuarioUnido ">manolo321
                       <div class="verUsuario btn btn-light">
                      Ver
                  </div>
                  </li></div>
                 
                  
                  
                </ul>
                <div class="flex-center mb-4">
                    <button class="flex-center btn btn-danger cerrarUsers"> Cerrar</button>
                </div>
    
             </div>
            </div>
    <div class="card tarjeta borde">
        <div class="card-body">
            <div class="unirse">
            <form action="/unirse" method="POST" class="formUnirse">
            </div>
                {{#each links}}
                <div class="form-group tituloContainer">
                   
                    <div class="tituloDiv">
                        <h2>{{titulo}}</h2>
                    </div>

                     <div class="imagenDeporte">
                        <p class="none deporte">{{tipodeporte}}</p>
                    </div>
                    
                    <input value={{id}} class="none">
                    <input value={{user_id}} class="none idUser">
                   
                </div>
                <hr>

                <div class="form-group participantesFecha">
                   
                    <div class=" ml-5 participantesDiv">
                        <h5>Participantes: {{nparticipantes}} / {{nparticipantesMAX}}</h5>
                        <input value={{nparticipantes}} class="none npart" name="npart">
                        <input value={{nparticipantesMAX}} class="none npartMAX" name="npartMAX">
                    </div>

                    

                     <div class="fechaDiv mr-5">
                           <p class="none fecha"> {{fecha}}</p>
                           <p class="none hora"> {{hora}}</p>
                       <h5 class="fechaHora"></h5>
                    </div>
                    
                    <input name="id" value={{user_id}} class="none idEvento xi">
                    
                   
                </div>

                <hr>

                 <div class="form-group">

                <div class="resultados col-xs-12 col-md-12 mt-3">
                <ul class="listaMunicipioSeleccionado">
                  
                  <li class="municipioSeleccionado">{{municipio}} </li>
                  
                </ul>
                
              </div>

            
                   <p class="none direccion">{{direccion}}</p>
                    <div id="map"></div>

                   
                </div>
                    <h4 class="text-center">Descripción del evento</h4>
                    <hr>
                <div class="form-group flex-center">
                     <p>{{description}}</p>
                   
                </div>
                <hr>
               
                <div class="form-group divBotones">
                     <button class="btn btn-success btn-block unirseEvento boton">
                        Unirse al evento
                    </button>
                    <div class="btn btn-primary btn-block botonParticipantes">
                        Ver participantes
                    </div>
                    
                 </div>  
                 <div class="form-group divBotones">
                 

                   <div class="btn btn-primary btn-block botonComentarios">
                        Ver comentarios
                </div>
                </div>
              
              
               
                
                
                

                <div class="form-group divBotones">
                      <!--<button class="btn btn-success btn-block unirseEvento boton editar none">
                        Editar
                    </button>-->
                    
                 </div>
                 
                </div>
                
            {{/each}}   
                   
            <p class="none eventoUnido">{{unido}}</p>
            
            {{#each users}}
            <div class="usuario">
            <p class="none idUnidos">{{id}}</p>
            <p class="none usuariosUnidos">{{username}}</p>
            </div>
            {{/each}} 
            {{#each nombre}}
            <input name="nombre" value={{username}} class="none">
              {{/each}} 
            </form>

         </div>
    </div>
</div>
</div>

  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8N-QJbll1msnAUGZY45mVqdqQYCk-F-U&callback=crearMapaInicial">
    </script>