<link rel="stylesheet" href="/css/eventos.css">
<script src="/js/filtrador.js"></script>
{{>navigation}}
{{>sidebar}}


<div class="contenedor">
  
  <div class="crearEvento mt-5">

    <h4>Eventos que has creado</h4>

   
  </div>
  <hr>

  <div class="containerEventos">
    
<p class="links oculto">{{eventos.length}}</p>
  
{{#each eventos}}
<p class="id oculto">{{id}}</p>
<p class="tituloEvento oculto">{{titulo}}</p>
<p class="tipodeporte oculto">{{tipodeporte}}</p>
<p class="description oculto">{{description}}</p>
<p class="nparticipantes oculto">{{nparticipantes}}</p>
<p class="nparticipantesMAX oculto">{{nparticipantesMAX}}</p>
<p class="created_at oculto">{{created_at}}</p>
<p class="password oculto">{{password}}</p>
<p class="fecha oculto">{{fecha}}</p>
<p class="hora oculto">{{hora}}</p>
<p class="municipio oculto">{{municipio}}</p>
<p class="direccion oculto">{{direccion}}</p>
<p class="user_id oculto">{{user_id}}</p>
<p class="comunidad oculto">{{comunidad}}</p>
{{/each}}



  <div class="eventos">
    {{#each eventos}}
      <p class="oculto id">{{{id}}}</p>
      <div class="tarjetaEvento">
        <div class="parteSuperior">

        </div>
        <div class="parteInferior">

        </div>
      </div>

    {{/each}}
    
  </div>

  

</div>

</div>
